h1 {
    font-size: 3.5em; /* Set the font size to 2 times the default size */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    border: 2px solid gray;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    height: 100%;
}
.button-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.button-container button {
    margin-right: 10px;
    
}
.overlay-image {
    position: absolute; /* Set the position of the overlay image to absolute */
    bottom: 0; /* Position the overlay image at the bottom */
    left: 0; /* Position the overlay image at the left */
    width: 200px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    
}
th, td {
    /* border: 2px solid gray; */
    padding: 4px;
    color: black; /* Add this to ensure text is visible */
    overflow: hidden;
    text-overflow: ellipsis;
}